#character,
.smCharacter {
  left: 50px;
  bottom: 10px;
  background-size: cover;
  position: absolute;
  /* background-color: red; */
}
#character {
    width: 100px;
    height: 150px;
}
.smCharacter {
  width: 80px !important;
  height: 120px !important;

}
@media screen and (max-width: 760px) {
  #character {
    height: 80px;
    width: 60px;
  }
  .smCharacter {
    height: 60px !important;
    width: 40px !important;
  }
}