.modal {
  position: fixed;
  padding-top: 20px;
  width: 600px;
  height: 340px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 20px;
  color: red;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 50px;
  display: none;
  z-index: 300;
  opacity: 0;
  background-color: white;
}

.superMario {
  background: url("./assets/img/superMario.webp") center no-repeat;
  background-color: white;
  background-size: 150px;
  background-position: 0px;
}
.superMarioSuccess {
  background: url("./assets/img/superMarioSuccess.webp") center no-repeat;
  background-color: white;
  background-size: 200px;
  background-position: 0px;
}
.superMarioDeath {
  background: url("./assets/img/superMarioDeath.png") center no-repeat;
  background-color: white;
  background-size: 250px;
  background-position: 0px 100px;
}

/* باز شدن مودال */
.openModal {
  animation: openModalAnim 0.5s forwards;
  display: flex !important;
}

/* بسته شدن مودال */
.closeModal {
  animation: closeModalAnim 0.5s forwards;
}
.title {
  font-size: 23px;
}
.startbtn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 250px;
  height: 50px;
  font-size: 17px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  order: 3;
  display: none;
}
.challanges {
  direction: rtl;
  order: 2;
  width: 100%;
  height: 200px;
  padding: 10px 50px;
  list-style: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.challange {
  display: flex;
  align-items: center;
  text-align: start;
  float: right;
  width: 90%;
}
.text {
  font-size: 17px;
}
.span1,
.span2,
.span0,
.span3,
.span4 {
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.span1,
.span3 {
  animation: rotateAnim infinite 2s ease;
}
.span0,
.span2,
.span4 {
  animation: rotateAnim2 infinite 3s ease-in;
}
.span0 {
  font-size: 20px;
  background: url("./assets/icons/battleIcon.png") no-repeat;
  background-size: contain;
}
.span1 {
  font-size: 20px;
  background: url("./assets/icons/heart.png") no-repeat;
  background-size: contain;
}
.span2 {
  font-size: 20px;
  background: url("./assets/icons/coin.png") no-repeat;
  background-size: contain;
}
.span3 {
  font-size: 20px;
  background: url("./assets/icons/walkIcon.png") no-repeat;
  background-size: contain;
}
.span4 {
  font-size: 20px;
  background: url("./assets/icons/info.png") no-repeat;
  background-size: contain;
}
@keyframes openModalAnim {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes closeModalAnim {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes rotateAnim {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@keyframes rotateAnim2 {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
@media screen and (max-width: 760px) {
  .modal {
    width: 85%;
    height: 370px;
  }
  .superMario {
    background-size: 100px;
    background-position: 0px 190px;
  }
  .superMarioSuccess {
    background-size: 120px;
    background-position: 0px 190px;
  }
  .superMarioDeath {
    background-size: 170px;
    background-position: 0px 190px;
  }
  .title {
    font-size: 17px;
  }
  .challanges {
    position: absolute;
    top: 60px;
  }
  .startbtn {
    font-size: 16px;
    width: 190px;
    bottom: 0;
  }
  .challanges {
    padding: 10px 20px;
  }
  .span1,
  .span2,
  .span0 {
    background-position: center;
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
  .span3,
  .span4 {
    font-size: 30px;
  }
  .text {
    font-size: 14px;
  }
}
