#airEnemy {
  width: 150px;
  height: 130px;
  left: 120%;
  bottom: 120px;
  position: absolute;
  background: url(../img/enemy2.gif) center no-repeat;
  /* background-color: green; */
  background-size: contain;
  display: none;
}
#walkEnemy {
  width: 100px;
  height: 150px;
  left: 120%;
  bottom: 10px;
  position: absolute;
  background: url(../img/enemy1.gif) center no-repeat;
  background-size: cover;
  display: none;
  /* background-color: white; */
}
@keyframes pipeAnimation {
  0% {
    left: 100%;
  }
  100% {
    left: -20%;
  }
}
@media screen and (max-width: 760px) {
  #walkEnemy {
    width: 60px;
    height: 80px;
  }
  #airEnemy {
    width: 80px;
    height: 70px;
    bottom: 70px;
  }
}
