.mushroom {
  position: absolute;
  background: url("../img/Mushroom.png") center no-repeat;
  background-size: cover;
  width: 71px;
  height: 70px;
  bottom: 300px;
  left: 210px;
  z-index: 200;
  opacity: 0;
  transition: all 1s linear;
  display: none;
}
.mushroomAnimate1 {
  display: flex !important;
  animation: mushAnime1 10s ease-in forwards;
}
.mushroomAnimate2 {
  display: flex !important;
  animation: mushAnime2 10s ease-in forwards;
}

@keyframes mushAnime1 {
  0% {
    opacity: 0;
    left: 210px;
    bottom: 300px;
  }
  25% {
    opacity: 1;
    left: 210px;
    bottom: 370px;
  }
  50% {
    opacity: 1;
    left: 50px;
    bottom: 370px;
  }
  75% {
    opacity: 1;
    bottom: 10px;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: -20%;
    bottom: 10px;
  }
}
@keyframes mushAnime2 {
  0% {
    opacity: 0;
    left: 210px;
    bottom: 300px;
  }
  25% {
    opacity: 1;
    left: 210px;
    bottom: 370px;
  }
  50% {
    opacity: 1;
    left: 370px;
    bottom: 370px;
  }
  75% {
    opacity: 1;
    bottom: 10px;
    left: 370px;
  }
  100% {
    opacity: 1;
    left: 120%;
    bottom: 10px;
  }
}
@media screen and (max-width: 760px) {
  .mushroom {
    width: 40px;
    height: 40px;
    bottom: 170px;
    left: 100px;
  }
  @keyframes mushAnime1 {
    0% {
      opacity: 0;
      left: 100px;
      bottom: 170px;
    }
    25% {
      opacity: 1;
      left: 100px;
      bottom: 210px;
    }
    50% {
      opacity: 1;
      left: 20px;
      bottom: 210px;
    }
    75% {
      opacity: 1;
      bottom: 10px;
      left: 20px;
    }
    100% {
      opacity: 1;
      left: -20%;
      bottom: 10px;
    }
  }
  @keyframes mushAnime2 {
    0% {
      opacity: 0;
      left: 100px;
      bottom: 170px;
    }
    25% {
      opacity: 1;
      left: 100px;
      bottom: 210px;
    }
    50% {
      opacity: 1;
      left: 180px;
      bottom: 210px;
    }
    75% {
      opacity: 1;
      left: 180px;
      bottom: 10px;
    }
    100% {
      opacity: 1;
      left: 120%;
      bottom: 10px;
    }
  }
}
