.buttons {
  display: none;
}
@media screen and (max-width: 760px) {
  .buttons {
    position: fixed;
    padding-top: 20px;
    display: grid;
    grid-template: ".. .. .. .. .." 1fr ".. .. top .. .." 2fr ".. left .. right .." 2fr ".. .. down .. .." 2fr ".. .. .. .. .." 1fr / 1fr 2fr 2fr 2fr 1fr;
    gap: 5px;
    height: 40%;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      180deg,
      #eeb964 0%,
      /* رنگ پایه در پایین */ #d7a14d 35%,
      /* رنگ کمی تیره‌تر در وسط */ #a67d3b 100% /* رنگ تیره‌تر در بالا */
    );

    button {
      cursor: pointer;
      border: none;
      background: rgb(2, 0, 36);
    }
    .topBtn {
      grid-area: top;

      background: linear-gradient(
        180deg,
        rgba(50, 120, 50, 1) 0%,
        rgba(90, 220, 90, 1) 50%,
        rgba(150, 255, 150, 1) 100%
      );

      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    .rightBtn {
      grid-area: right;
      background: linear-gradient(
        270deg,
        rgba(50, 110, 50, 1) 0%,
        rgba(100, 200, 100, 1) 50%,
        rgba(160, 255, 160, 1) 100%
      );

      clip-path: polygon(100% 50%, 0 0, 0 100%);
    }
    .leftBtn {
      grid-area: left;
      background: linear-gradient(
        90deg,
        rgba(50, 110, 50, 1) 0%,
        rgba(100, 200, 100, 1) 50%,
        rgba(160, 255, 160, 1) 100%
      );

      clip-path: polygon(100% 100%, 100% 0, 0 50%);
    }
    .downBtn {
      grid-area: down;
      background: linear-gradient(
        0deg,
        rgba(40, 100, 40, 1) 0%,
        rgba(80, 190, 80, 1) 50%,
        rgba(130, 230, 130, 1) 100%
      );

      clip-path: polygon(50% 100%, 100% 0, 0 0);
    }
  }
}
